@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-size: 62.5%;
  }
}

body{
  background-color: black;
}

@media (max-width: 639px) {
    #slider {
      overflow-x: hidden;
      overflow-y: scroll;
      flex-direction: column; /* Stack items vertically */
      align-items: center;
    }
  }

  *{
    box-sizing: border-box;
    /* text-rendering: optimizeLegibility; */
    -webkit-font-smoothing: antialiased;


  }


  .bubble{
    transform: perspective(1200px) translate(-50%, -50%);
  }

  @media (max-width: 809px) {
    .bubble1 {
      top: 15%;
      left: 58%;
    }

    .bubble2{
      top: 80%;
      left: 20%;
    }

    .bubble3{
      top: 85%;
      left: 80%;
    }
  }
  @media (min-width: 810px) and (max-width: 1200px) {
    .bubble1 {
      top: 20%;
      left: 70%;
    }
    .bubble2{
      top: 75%;
      left: 30%;
    }
    .bubble3{
      top: 75%;
      left: 70%;
    }
  }
  @media (min-width: 1201px) {
    .bubble1 {
      top: 30%;
      left: 63%;
    }
    .bubble2{
      top: 70%;
      left: 32%;
    }
    .bubble3{
      top: 65%;
      left: 65%;
    } 
  }


 .pop-up-background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99; /* Place it below the pop-up */
    cursor: pointer
  }

@supports (aspect-ratio: 1){
  
}

