@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  html{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: #0B0B0E;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *{
    box-sizing: border-box;
    /* text-rendering: optimizeLegibility; */
    -webkit-font-smoothing: antialiased;
  }


  .bubble{
    transform: perspective(1200px) translate(-50%, -50%);
  }

  @media (max-width: 809px) {
    .bubble1 {
      top: -20%;
      left: 58%;
    }
  }
  @media (min-width: 810px) and (max-width: 1200px) {
    .bubble1 {
      top: -2%;
      left: 82%;
    }
  }
  @media (min-width: 1201px) {
    .bubble1 {
      top: 8%;
      left: 71%;
    }
  }
}



@supports (aspect-ratio: 1){
  
}